<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4+1+9 %>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem libero omnis mollitia quae. Incidunt similique
        maxime fugiat possimus sed. Harum maxime provident officia velit! Molestiae
        repellendus iusto optio veritatis temporibus!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non explicabo maxime magnam ad vero possimus excepturi
        in consectetur pariatur? Suscipit molestias dignissimos,
        totam illo ipsa illum laboriosam minus soluta quis.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem libero omnis mollitia quae. Incidunt similique
        maxime fugiat possimus sed. Harum maxime provident officia velit! Molestiae
        repellendus iusto optio veritatis temporibus!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non explicabo maxime magnam ad vero possimus excepturi
        in consectetur pariatur? Suscipit molestias dignissimos,
        totam illo ipsa illum laboriosam minus soluta quis.</p>
</body>

</html>